.nev
{
    text-align:center;
}
li
{
    display:inline;

}
.menu
{
    
    width:100%;
}
nav
{
    background-image: url(backgroundlol.jpg)

}
div
{
    text-align: center;
    
}